@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0;
  padding: 0;
  border: none;
}
  
body, html{
  font-family: Merriweather, serif;
  font-weight: 300;
}

/* NAVBAR */
#header-color{
  background-color: #a32020;
  overflow: auto;
}

#navigation {
  font-size: 110%;
  letter-spacing: 3px;
}

#navigation, #logo {
  line-height: 75px;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

/* logo style */
#logo {
  font-family: Lobster;
  letter-spacing: 5px;
  float: left;
  margin-left: 30px;
  color: #f7e2e2;
}

#logo span {
  color: #20A3A3;
}