@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  margin: 0;
  padding: 0;
  border: none;
}
  
body, html{
  font-family: Merriweather, serif;
  font-weight: 300;
}

/* NAVBAR */
#header-color{
  background-color: #a32020;
}

/* logo style */
#logo {
  font-family: Lobster;
  letter-spacing: 5px;
  float: left;
  margin-left: 30px;
  color: #f7e2e2;
}

#logo span {
  color: #20A3A3;
}