@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  margin: 0;
  padding: 0;
  border: none;
}
  
body, html{
  font-family: Merriweather, serif;
  font-weight: 300;
}

/* NAVBAR */
#header-color{
  background-color: #a32020;
  overflow: auto;
}

#navigation {
  font-size: 110%;
  letter-spacing: 3px;
}

#navigation, #logo {
  line-height: 75px;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#navigation a {
  text-decoration: none;
  text-align: center;
  color: #f7e2e2;
}

#navigation a:hover {
  font-weight: bold;
  color: #20A3A3;
}

.active {
  border-bottom: 2px solid #20A3A3;
}

/* logo style */
#logo {
  font-family: Lobster;
  letter-spacing: 5px;
  float: left;
  margin-left: 30px;
  color: #f7e2e2;
}

#logo span {
  color: #20A3A3;
}

/* SECTION 1 */
#landing-img {
  height: 700px;
  width: 100%;
  background: url(../images/landing-img.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 5px rgba(58, 47, 47, 0.7);
  margin-bottom: 100px; /*for distance between sections*/
}